@model Adboard.UI.Models.NewAdvertViewModel
@using Adboard.Contracts.DTOs.Category
@{
    ViewData["Title"] = "AddAdvert";
}

<h1>New advert</h1>

<form asp-route="AddAdvert" enctype="multipart/form-data">
    <input type="hidden" asp-for="UserId"/>
    <fieldset>
        <div class="form-group">
            <label asp-for="Header"></label>
            <input class="form-control" placeholder="Header" asp-for="Header" autofocus>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea class="form-control" placeholder="Description" asp-for="Description" autofocus> </textarea>
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input class="form-control" placeholder="Price" asp-for="Price" autofocus>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId">Category</label>
            <select multiple class="form-control" id="CategoryId" name="CategoryId" asp-for="CategoryId">
                @foreach (CategoryDto cat in ViewBag.Categories)
                {
                    @if (cat.ParentCategory != null)
                    {
                        <option value="@cat.Id">@cat.ParentCategory.Name -> @cat.Name</option>
                    }
                    else
                    {
                        <option value="@cat.Id">@cat.Name</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Country"></label>
            <input class="form-control" placeholder="Country" asp-for="Country" autofocus>
        </div>
        <div class="form-group">
            <label asp-for="Area"></label>
            <input class="form-control" placeholder="Area" asp-for="Area" autofocus>
        </div>
        <div class="form-group">
            <label asp-for="City"></label>
            <input class="form-control" placeholder="City" asp-for="City" autofocus>
        </div>
        <div class="form-group">
            <label asp-for="Street"></label>
            <input class="form-control" placeholder="Street" asp-for="Street" autofocus>
        </div>
        <div class="form-group">
            <label asp-for="HouseNumber"></label>
            <input class="form-control" placeholder="HouseNumber" asp-for="HouseNumber" autofocus>
        </div>
        <div class="form-group">
            <label asp-for="Photo"></label>
            <input type="file" multiple class="form-control-file" placeholder="Photo" asp-for="Photo" autocomplete="off">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" name="button" value="add">Add</button>

        </div>
    </fieldset>
</form>