@model Adboard.UI.Models.NewAdvertViewModel
@using Adboard.Contracts.DTOs.Category
@{
    ViewData["Title"] = "Добавление";
}



<form asp-route="AddAdvert" class="mt-2" enctype="multipart/form-data">
    <input type="hidden" asp-for="UserId"/>
    <fieldset>
        <div class="form-group">
            <label asp-for="Header">Заголовок</label>
            <input required maxlength="20" class="form-control" placeholder="Заголовок(20 символов максимально)" asp-for="Header" autofocus>
        </div>
        <div class="form-group">
            <label asp-for="Description">Описание</label>
            <textarea maxlength="649" rows="5" required class="form-control" placeholder="Описание (650 символов максимально)" asp-for="Description" autofocus> </textarea>
        </div>
        <div class="form-group">
            <label asp-for="Price">Цена в руб.</label>
            <input required class="form-control" placeholder="Цена в руб." asp-for="Price" autofocus>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId">Категория</label>
            <select required size="10" class="form-control" id="CategoryId" name="CategoryId" asp-for="CategoryId">
                @foreach (CategoryDto cat in ViewBag.Categories)
                {
                    @if (cat.ParentCategory != null)
                    {
                        <option value="@cat.Id">@cat.ParentCategory.Name -> @cat.Name</option>
                    }
                    else
                    {
                        <option value="@cat.Id">@cat.Name</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Country">Страна</label>
            <input required class="form-control" placeholder="Страна" asp-for="Country" autofocus>
        </div>
        <div class="form-group">
            <label asp-for="Area">Область</label>
            <input required class="form-control" placeholder="Область" asp-for="Area" autofocus>
        </div>
        <div class="form-group">
            <label asp-for="City">Город</label>
            <input required class="form-control" placeholder="Город" asp-for="City" autofocus>
        </div>
        <div class="form-group">
            <label asp-for="Street">Улица</label>
            <input required class="form-control" placeholder="Улица" asp-for="Street" autofocus>
        </div>
        <div class="form-group">
            <label asp-for="HouseNumber">Дом</label>
            <input required class="form-control" placeholder="Дом" asp-for="HouseNumber" autofocus>
        </div>
        <div class="form-group">
            <label asp-for="Photo">Фото</label>
            <input type="file" multiple class="form-control-file" placeholder="Фото" asp-for="Photo" autocomplete="off">
        </div>
        <div class="form-group">




            <div class="row d-flex flex-row-reverse">
                <button class="btn btn-primary" name="button" value="add">Добавить</button>
            </div>
        </div>

    </fieldset>
</form>