@using Adboard.Contracts.DTOs.Category
@using Adboard.Contracts.DTOs.Advert
@model Adboard.UI.Models.UpdateAdvertViewModel

@{
    ViewData["Title"] = "Редактирование";
}

@{ AdvertDto advert = ViewBag.Advert;}



<div class="d-flex flex-row-reverse pt-2">
    <div class="p-0"><a class="btn btn-danger" href="~/Advert/Delete/@advert.Id" role="button">Удалить это объявление</a></div>
</div>

<form asp-route="AddAdvert" enctype="multipart/form-data">
    <input type="hidden" value="@advert.UserId" asp-for="UserId" />
    <fieldset>
        <div class="form-group">
            <label asp-for="Header">Заголовок</label>
            <input class="form-control" maxlength="29" placeholder="Заголовок(20 символов максимально)" value="@advert.Header" asp-for="Header" autofocus>
        </div>
        <div class="form-group">
            <label asp-for="Description">Описание</label>
            <textarea class="form-control" rows="5" maxlength="649" placeholder="Новое описание. Если менять не нужно оставьте пустым (650 символов максимально)" asp-for="Description" autofocus></textarea>
        </div>
        <div class="form-group">
            <label asp-for="Price">Цена в руб.</label>
            <input class="form-control" placeholder="Цена в руб." asp-for="Price" value="@advert.Price" autofocus>
        </div>
        <div class="form-group">
            <label asp-for="CategoryId">Категория</label>
            <select multiple size="10" class="form-control" id="CategoryId" name="CategoryId" asp-for="CategoryId">
                @foreach (CategoryDto cat in ViewBag.Categories)
                {
                    @if (cat.ParentCategory != null)
                    {
                        if (cat.Id == advert.Category.Id)
                        {
                            <option value="@cat.Id" selected>@cat.ParentCategory.Name -> @cat.Name</option>
                        }
                        else
                        {
                            <option value="@cat.Id">@cat.ParentCategory.Name -> @cat.Name</option>
                        }
                    }
                    else
                    {
                        if (cat.Id == advert.Category.Id)
                        {
                            <option value="@cat.Id" selected>@cat.Name</option>
                        }
                        else
                        {
                            <option value="@cat.Id">@cat.Name</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label asp-for="Country">Страна</label>
            <input class="form-control" placeholder="Страна" value="@advert.Location.Country" asp-for="Country" autofocus>
        </div>
        <div class="form-group">
            <label asp-for="Area">Область</label>
            <input class="form-control" placeholder="Область" value="@advert.Location.Area" asp-for="Area" autofocus>
        </div>
        <div class="form-group">
            <label asp-for="City">Город</label>
            <input class="form-control" placeholder="Город" value="@advert.Location.City" asp-for="City" autofocus>
        </div>
        <div class="form-group">
            <label asp-for="Street">Улица</label>
            <input class="form-control" placeholder="Улица" value="@advert.Location.Street" asp-for="Street" autofocus>
        </div>
        <div class="form-group">
            <label asp-for="HouseNumber">Дом</label>
            <input class="form-control" placeholder="Дом" value="@advert.Location.HouseNumber" asp-for="HouseNumber" autofocus>
        </div>
        <div class="form-group">
            <label asp-for="Photo">Новое фото</label>
            <input type="file" multiple class="form-control-file" placeholder="Новое фото" asp-for="Photo" autocomplete="off">
        </div>
        <div class="form-group">
            <div class="row d-flex flex-row-reverse mr-0">
                <button class="btn btn-primary" name="button" value="update">Обновить</button>
            </div>

        </div>
    </fieldset>
</form>



