
@{
    ViewData["Title"] = "Filter";
}

@using Adboard.Contracts.DTOs.Category
@using Adboard.Contracts.DTOs.Advert

<form asp-route="Filter" method="get" class="mt-3 border p-2 rounded-lg">
    @model Adboard.UI.Models.FilterAdvertViewModel
    <div class="form-row">
        <div class="col-md-4 mb-1">
            <label asp-for="Header" class="mb-0" for="validationDefault01">Header</label>
            <input asp-for="Header" value="@Model.Header" type="text" class="form-control" id="validationDefault01" placeholder="Header">
        </div>
        <div class="col-md-4 mb-1">
            <label asp-for="Description" class="mb-0" for="validationDefault02">Description</label>
            <input asp-for="Description" type="text" class="form-control" id="validationDefault02" placeholder="Description" value="@Model.Description">
        </div>
        <div class="col-md-2 mb-1">
            <label asp-for="CreatedDateTimeFrom" class="mb-0" for="validationDefault02">DateFrom</label>
            <input asp-for="CreatedDateTimeFrom" value="@Model.CreatedDateTimeFrom" type="date" class="form-control" id="validationDefault02" placeholder="from">

        </div>
        <div class="col-md-2 mb-1">
            <label asp-for="CreatedDateTimeTo" class="mb-0" for="validationDefault02">DateTo</label>
            <input asp-for="CreatedDateTimeTo" value="@Model.CreatedDateTimeTo" type="date" class="form-control" id="validationDefault02" placeholder="to">


        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label asp-for="CategoryId" class="mb-0">Category</label>
            <select asp-for="CategoryId" multiple class="form-control" id="CategoryId" name="CategoryId">
                @foreach (CategoryDto cat in ViewBag.Categories)
                {
                    @if (cat.ParentCategory != null)
                    {
                        if (cat.Id == Model.CategoryId)
                        {
                            <option selected value="@cat.Id">@cat.ParentCategory.Name -> @cat.Name</option>
                        }
                        else
                        {
                            <option value="@cat.Id">@cat.ParentCategory.Name -> @cat.Name</option>
                        }

                    }
                    else
                    {
                        if (cat.Id == Model.CategoryId)
                        {
                            <option selected value="@cat.Id">@cat.Name</option>
                        }
                        else
                        {
                            <option value="@cat.Id">@cat.Name</option>
                        }
                    }
                }
            </select>
        </div>
        <div class="col-md-2 mb-3">
            <label asp-for="PriceFrom" class="mb-0" for="validationDefault02">PriceFrom</label>
            <input asp-for="PriceFrom" value="@Model.PriceFrom" type="text" class="form-control" id="validationDefault02" placeholder="from">


            
            <label asp-for="Region" class="mb-0" for="validationDefault02">Region</label>
            <input asp-for="Region" value="@Model.Region" type="text" class="form-control" id="validationDefault02" placeholder="Region">



        </div>
        <div class="col-md-2 mb-3">
            <label asp-for="PriceTo" class="mb-0" for="validationDefault02">PriceTo</label>
            <input asp-for="PriceTo" value="@Model.PriceTo" type="text" class="form-control" id="validationDefault02" placeholder="to">


        </div>
        <div class="col-md-4">
            <label asp-for="Size" class="mb-0" for="validationDefault02">Amount on page</label>
            <select asp-for="Size" type="text" class="form-control" id="validationDefault02" placeholder="Amount">


                @if (Model.Size == 6)
                {
                    <option selected value="6">6</option>
                    <option value="12">12</option>
                }
                else
                {
                    <option value="6">6</option>
                    <option selected value="12">12</option>
                }

            </select>
            <br>
            <div class="form-group form-check">
                @if (Model.HasPhotoOnly)
                {
                    <input asp-for="HasPhotoOnly" checked class="form-check-input" type="checkbox" id="invalidCheck2">

                }
                else
                {
                    <input asp-for="HasPhotoOnly" class="form-check-input" type="checkbox" id="invalidCheck2">

                }
                <label asp-for="HasPhotoOnly" class="form-check-label" for="invalidCheck2">
                    With photo only
                </label>



            </div>

            


        </div>
    </div>

    <div class="d-flex">


        <div class="ml-auto p-2"><button class="btn btn-primary" type="submit">Search</button></div>
    </div>

</form>





<div class="d-flex flex-wrap justify-content-around">
    @foreach (AdvertDto advert in ViewBag.Adverts)
    {
    <div class="card" style="width: 18rem; margin:10px;">
        @if (advert.Photo.Length > 0)
        {
            <img class="card-img-top thumb-post" style="object-fit: cover" height="286" src="data:image/jpeg;base64,@Convert.ToBase64String(advert.Photo[0].Data)" alt="Card image cap">
        }
        else
        {
            <img class="card-img-top thumb-post" style="object-fit: cover" height="286" src="~/lib/asp.jpg" alt="Card image cap">
        }
    <div class="card-body p-2 d-flex flex-column">
        <div class="d-flex">
            <h5 class="card-title"><a href="/Advert/@advert.Id" style="color: #0091d9;">@advert.Header</a></h5>
            <h6 class="ml-auto" style="color: dimgray;">@advert.CreatedDateTime.ToShortDateString()</h6>
        </div>

        <div class="d-flex mt-auto">
            @if (advert.Category.ParentCategory?.Name != null)
            {
                <h6>@advert.Category.ParentCategory.Name, @advert.Category.Name</h6>
            }
            else
            {
                <h6>@advert.Category.Name</h6>
            }
        <h6 class="ml-auto text-success">@string.Format("{0:C0}", advert.Price)</h6>
        </div>



    </div>
    </div>
    }
</div>


@{
    int pages = ViewBag.Adverts.Count / ViewBag.Size;
    int currentPage = ViewBag.CurrentPage;
    int previosPage = currentPage - 1;
    int nextPage = currentPage + 1;
}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        
        @if (currentPage > 1)
        {
            if (ViewBag.Adverts.Count == ViewBag.Size)
            {
                @for (int i = currentPage - 1; i < currentPage + 2; i++)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Filter" 
                           asp-route-Header="@ViewData["Header"]"
                           asp-route-Description="@ViewData["Description"]"
                           asp-route-CategoryId="@ViewData["CategoryId"]"
                           asp-route-HasPhotoOnly="@ViewData["HasPhotoOnly"]"
                           asp-route-PriceFrom="@ViewData["PriceFrom"]"
                           asp-route-PriceTo="@ViewData["PriceTo"]"
                           asp-route-UserId="@ViewData["UserId"]"
                           asp-route-AdvertId="@ViewData["AdvertId"]"
                           asp-route-CreatedDateTimeFrom="@ViewData["CreatedDateTimeFrom"]"
                           asp-route-CreatedDateTimeTo="@ViewData["CreatedDateTimeTo"]"
                           asp-route-Region="@ViewData["Region"]"
                           asp-route-Size="@ViewData["Size"]"
                           asp-route-in_header="@ViewData["in_header"]"
                           asp-route-page="@i"
                           >@i</a>
                    </li>
                }
            }
            else
            {
                @for (int i = currentPage - 1; i < currentPage + 1; i++)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Filter"
                           asp-route-Header="@ViewData["Header"]"
                           asp-route-Description="@ViewData["Description"]"
                           asp-route-CategoryId="@ViewData["CategoryId"]"
                           asp-route-HasPhotoOnly="@ViewData["HasPhotoOnly"]"
                           asp-route-PriceFrom="@ViewData["PriceFrom"]"
                           asp-route-PriceTo="@ViewData["PriceTo"]"
                           asp-route-UserId="@ViewData["UserId"]"
                           asp-route-AdvertId="@ViewData["AdvertId"]"
                           asp-route-CreatedDateTimeFrom="@ViewData["CreatedDateTimeFrom"]"
                           asp-route-CreatedDateTimeTo="@ViewData["CreatedDateTimeTo"]"
                           asp-route-Region="@ViewData["Region"]"
                           asp-route-Size="@ViewData["Size"]"
                           asp-route-in_header="@ViewData["in_header"]"
                           asp-route-page="@i">@i</a>
                    </li>
                }
            }
        }
        else
        {
            if (ViewBag.Adverts.Count == ViewBag.Size)
            {
                @for (int i = currentPage; i < currentPage + 2; i++)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="Filter"
                           asp-route-Header="@ViewData["Header"]"
                           asp-route-Description="@ViewData["Description"]"
                           asp-route-CategoryId="@ViewData["CategoryId"]"
                           asp-route-HasPhotoOnly="@ViewData["HasPhotoOnly"]"
                           asp-route-PriceFrom="@ViewData["PriceFrom"]"
                           asp-route-PriceTo="@ViewData["PriceTo"]"
                           asp-route-UserId="@ViewData["UserId"]"
                           asp-route-AdvertId="@ViewData["AdvertId"]"
                           asp-route-CreatedDateTimeFrom="@ViewData["CreatedDateTimeFrom"]"
                           asp-route-CreatedDateTimeTo="@ViewData["CreatedDateTimeTo"]"
                           asp-route-Region="@ViewData["Region"]"
                           asp-route-Size="@ViewData["Size"]"
                           asp-route-in_header="@ViewData["in_header"]"
                           asp-route-page="@i">@i</a>
                    </li>
                }
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Filter"
                       asp-route-Header="@ViewData["Header"]"
                       asp-route-Description="@ViewData["Description"]"
                       asp-route-CategoryId="@ViewData["CategoryId"]"
                       asp-route-HasPhotoOnly="@ViewData["HasPhotoOnly"]"
                       asp-route-PriceFrom="@ViewData["PriceFrom"]"
                       asp-route-PriceTo="@ViewData["PriceTo"]"
                       asp-route-UserId="@ViewData["UserId"]"
                       asp-route-AdvertId="@ViewData["AdvertId"]"
                       asp-route-CreatedDateTimeFrom="@ViewData["CreatedDateTimeFrom"]"
                       asp-route-CreatedDateTimeTo="@ViewData["CreatedDateTimeTo"]"
                       asp-route-Region="@ViewData["Region"]"
                       asp-route-Size="@ViewData["Size"]"
                       asp-route-in_header="@ViewData["in_header"]"
                       asp-route-page="1">1</a>
                </li>
            }
        }
    </ul>
</nav>