

@using Adboard.Contracts.DTOs.Category;

@{ 

    string Name = User.Claims?.Where(x => x.Type.Equals("name")).FirstOrDefault()?.Value ?? "";
    string Role = User.Claims?.Where(x => x.Type.Contains("role")).FirstOrDefault()?.Value ?? "";
    bool IsAuthenticated = Context.User.Identity.IsAuthenticated;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>

    <header id="header" class="header back">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <a asp-controller="Home" asp-action="Index">
                        <img src="~/lib/sale.png" height="40" alt="adboard" class="logo">
                    </a>
                    
                </div>
                <div class="col-lg-10 ml-auto">
                    <nav>
                        <ul class="menu d-flex justify-content-center">

                            @{
                                IReadOnlyCollection<CategoryDto> cats = ViewBag.Categories;
                            }
                            @foreach (CategoryDto cat in cats.Where(x => x.ParentCategory == null).Take(4))
                            {
                                <li class="menu__item">
                                    <a href="~/Advert/Filter?CategoryId=@cat.Id">@cat.Name</a>
                                </li>

                            }
                            <li class="menu__item">
                                <a class="moreCats" href="~/Home/CategoriesModal">Еще...</a>
                            </li>

                            @if (IsAuthenticated)
                            {
                                @*<li class="menu__item">
                <a asp-controller="Home" asp-action="Login">@Name</a>
            </li>
            <a asp-controller="Home" asp-action="Logout"> ВЫЙТИ</a>*@
                                <div class="col-lg-4 ml-auto">
                                    <nav>
                                        <ul class="menu d-flex">
                                            <li class="menu__item"></li>

                                            <li class="menu__item dropdown">
                                                <a class="dropdown-toggler" data-toggle="dropdown" href="#" role="button"
                                                   aria-haspopup="true" aria-expanded="false">@Name</a>
                                                <div class="dropdown-menu dropdown__style m-0">
                                                    <a class="dropdown-item" asp-controller="Home" asp-action="Login" style="color: black;">Личный кабинет</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" asp-controller="Home" asp-action="Logout" style="color: black;">Выйти</a>
                                                </div>
                                            </li>

                                        </ul>
                                    </nav>
                                </div>
                            }
                            else
                            {
                                <li class="menu__item">
                                    <a asp-controller="Home" asp-action="Login">Войти</a>
                                </li>
                            }

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>




    <div class="border-bottom box-shadow">
        <form method="get" asp-controller="Advert" asp-action="Filter">
            <div class="container d-flex flex-row pt-1 pl-0 pr-0">
                <div class="pb-2 flex-sm-grow-0">
                    <select class="custom-select" name="CategoryId">
                        <option selected value="0">Любая категория</option>
                        @foreach (CategoryDto cat in ViewBag.Categories)
                        {
                            if (cat.ParentCategory == null)
                            {
                                <option value="@cat.Id">@cat.Name</option>
                            }

                        }

                    </select>
                </div>
                <div class="pb-2 pl-1 flex-fill">
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="Header" placeholder="Поиск">
                </div>
                <div class="pb-2 pl-1 flex-sm-grow-0">
                    <input type="text" class="form-control" name="region" placeholder="Регион" name="Region"></input>
                </div>
                <div class="pl-1 pb-2">
                    <button class="btn btn-primary text-white" type="submit">Найти</button>
                </div>
            </div>

            <div class="container d-flex flex-row pl-0">
                <div class="pb-2 pl-1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" name="in_header" id="defaultCheck1">
                        <label class="form-check-label" for="defaultCheck1">
                            Только в заголовке
                        </label>
                    </div>
                </div>
                <div class="pb-2 pl-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" name="HasPhotoOnly" id="defaultCheck2">
                        <label class="form-check-label" for="defaultCheck2">
                            Только с фото
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div id="modDialogCats" class="modal fade bd-example-modal-lg">
        <div id="dialogContentCats" class="modal-dialog modal-lg"></div>
    </div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - Adboard
        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
