@using Adboard.Contracts.DTOs.Advert
@using Adboard.Contracts.DTOs.Category
@{
    ViewData["Title"] = "Home Page";
}






<div class="d-flex flex-wrap mt-2 justify-content-around">
    @foreach (AdvertDto advert in ViewBag.Adverts)
    {
        <div class="card" style="width: 18rem; margin:10px;">
            @if (advert.Photo.Length > 0)
            {
                <img class="card-img-top thumb-post" style="object-fit: cover" height="286" src="data:image/jpeg;base64,@Convert.ToBase64String(advert.Photo[0].Data)" alt="Card image cap">
            }
            else
            {
                <img class="card-img-top thumb-post" style="object-fit: cover" height="286" src="~/lib/asp.jpg" alt="Card image cap">
            }
            <div class="card-body p-2">
                <div class="d-flex">
                    <h5 class="card-title">@advert.Header</h5>
                    <h5 class="ml-auto">@advert.CreatedDateTime.ToShortDateString()</h5>
                </div>
                
                <div class="d-flex">
                    @if (advert.Category.ParentCategory?.Name != null)
                    {
                        <h6>@advert.Category.ParentCategory.Name, @advert.Category.Name</h6>
                    }
                    else
                    {
                        <h6>@advert.Category.Name</h6>
                    }
                </div>
                <div class="d-flex">
                    <h6 class="align-self-end text-success">@advert.Price rub</h6>
                    <a href="/Advert/@advert.Id" class="btn btn-primary ml-auto">More</a>
                </div>  
            </div>
        </div>
    }
</div>

