@using Adboard.Contracts.DTOs.Advert
@using Adboard.Contracts.DTOs.Category
@{
    ViewData["Title"] = "Home Page";
}






<div class="d-flex flex-wrap mt-2 justify-content-around">
    @foreach (AdvertDto advert in ViewBag.Adverts)
    {
        <div class="card" style="width: 18rem; margin:10px;">
            @if (advert.Photo.Length > 0)
            {
                <img class="card-img-top thumb-post" style="object-fit: cover" height="286" src="data:image/jpeg;base64,@Convert.ToBase64String(advert.Photo[0].Data)" alt="Card image cap">
            }
            else
            {
                <img class="card-img-top thumb-post" style="object-fit: cover" height="286" src="~/lib/asp.jpg" alt="Card image cap">
            }
        <div class="card-body p-2 d-flex flex-column">
            <div class="d-flex">
                <h5 class="card-title"><a href="/Advert/@advert.Id" style="color: #0091d9;">@advert.Header</a></h5>
                <h6 class="ml-auto" style="color: dimgray;">@advert.CreatedDateTime.ToShortDateString()</h6>
            </div>

            <div class="d-flex mt-auto">
                @if (advert.Category.ParentCategory?.Name != null)
                {
                    <h6>@advert.Category.ParentCategory.Name, @advert.Category.Name</h6>
                }
                else
                {
                    <h6>@advert.Category.Name</h6>
                }

               
                <h6 class="ml-auto text-success">@string.Format("{0:C0}", advert.Price)</h6>
            </div>
            

            
        </div>
        </div>
    }
</div>

