@using Adboard.Contracts.DTOs.Advert
@using Adboard.Contracts.DTOs.Category
@{
    ViewData["Title"] = "Home Page";
}

<h2>Filter:</h2>

<form asp-route="Index" method="post">
    @model Adboard.UI.Models.FilterAdvertViewModel
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label asp-for="Header" for="validationDefault01">Header</label>
            <input asp-for="Header" type="text" class="form-control" id="validationDefault01" placeholder="Header" value="">
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="Description" for="validationDefault02">Description</label>
            <input asp-for="Description" type="text" class="form-control" id="validationDefault02" placeholder="Description" value="">
        </div>
        <div class="col-md-2 mb-3">
            <label asp-for="CreatedDateTimeFrom" for="validationDefault02">DateFrom</label>
            <input asp-for="CreatedDateTimeFrom" type="date" class="form-control" id="validationDefault02" placeholder="from">

        </div>
        <div class="col-md-2 mb3">
            <label asp-for="CreatedDateTimeTo" for="validationDefault02">DateTo</label>
            <input asp-for="CreatedDateTimeTo" type="date" class="form-control" id="validationDefault02" placeholder="to">


        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb3">
            <label asp-for="CategoryId">Category</label>
            <select asp-for="CategoryId" multiple class="form-control" id="CategoryId" name="CategoryId">
                @foreach (CategoryDto cat in ViewBag.Categories)
                {
                    @if (cat.ParentCategory != null)
                    {
                        <option value="@cat.Id">@cat.ParentCategory.Name -> @cat.Name</option>
                    }
                    else
                    {
                        <option value="@cat.Id">@cat.Name</option>
                    }
                }
            </select>
        </div>
        <div class="col-md-2 mb-3">
            <label asp-for="PriceFrom" for="validationDefault02">PriceFrom</label>
            <input asp-for="PriceFrom" type="text" class="form-control" id="validationDefault02" placeholder="from">

        </div>
        <div class="col-md-2 mb3">
            <label asp-for="PriceTo" for="validationDefault02">PriceTo</label>
            <input asp-for="PriceTo" type="text" class="form-control" id="validationDefault02" placeholder="to">


        </div>
        <div class="col-md-4">
            <label asp-for="Size" for="validationDefault02">Amount on page</label>
            <select asp-for="Size" type="text" class="form-control" id="validationDefault02" placeholder="Amount">
                <option value="10">10</option>
                <option value="20">20</option>
            </select>
            <br>
            <div class="form-group form-check">
                    <input asp-for="HasPhotoOnly" class="form-check-input" type="checkbox" id="invalidCheck2">
                    <label asp-for="HasPhotoOnly" class="form-check-label" for="invalidCheck2">
                        With photo only
                    </label>
                
            </div>
        </div>
    </div>
    <br>
    <div class="d-flex">
        

        <div class="ml-auto p-2"><button class="btn btn-primary" type="submit">Search</button></div>
    </div>

</form>


<h2>Adverts:</h2>


<div class="d-flex flex-wrap">
    @foreach (AdvertDto advert in ViewBag.Adverts)
    {
        <div class="card" style="width: 18rem; margin:10px;">
            @if (advert.Photo.Length > 0)
            {
                <img class="card-img-top" src="data:image/jpeg;base64,@Convert.ToBase64String(advert.Photo[0].Data)" alt="Card image cap">
            }
            else
            {
                <img class="card-img-top" src="~/lib/asp.jpg" alt="Card image cap">
            }
            <div class="card-body">
                <h5 class="card-title">@advert.Header [@advert.Category.Name]</h5>
                <p class="card-text">@advert.Description</p>
                <a href="/Advert/@advert.Id" class="btn btn-primary">More</a>
            </div>
        </div>
    }
</div>


@{
    int pages = ViewBag.Adverts.Count / ViewBag.Size;
    int currentPage = ViewBag.CurrentPage;
    int previosPage = currentPage - 1;
    int nextPage = currentPage + 1;
}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="~/1">First</a></li>
        @if (currentPage > 1)
        {
            if (ViewBag.Adverts.Count == ViewBag.Size)
            {
                @for (int i = currentPage - 1; i < currentPage + 2; i++)
                {
                    <li class="page-item"><a class="page-link" href="~/@i">@i</a></li>
                }
            }
            else
            {
                @for(int i = currentPage - 1; i < currentPage + 1; i++) 
                {
                    <li class="page-item"><a class="page-link" href="~/@i">@i</a></li>
                }
            }
        }
        else
        {
            if (ViewBag.Adverts.Count == ViewBag.Size)
            {
                @for (int i = currentPage; i < currentPage + 2; i++)
                {
                    <li class="page-item"><a class="page-link" href="~/@i">@i</a></li>
                }
            }
            else
            {
                <li class="page-item"><a class="page-link" href="~/1">1</a></li>
            }
        }
    </ul>
</nav>
